.nav_bar_box {
  background-color: var(--color-2);
  height: 8%;
  padding: 1% 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: lowercase;
  color: var(--color-6);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  width: 45px;
  margin-right: 15px;
}
.user_box_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user_name {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 10px;
  color: var(--color-6);
}
